<table class="table is-striped is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th class="article-title is-uppercase has-text-grey">Title</th>
      <th class="word-count is-uppercase has-text-grey">Word Count</th>
      <th class="snippet is-uppercase has-text-grey">Snippet</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let page of pages" class="table-row">
      <td class="article-title">
        <a target="_blank" [href]="'https://en.wikipedia.org?curid=' + page.pageid">{{ page.title }}</a>
      </td>
      <td class="word-count has-text-grey has-text-weight-semibold">{{ page.wordcount }}</td>
      <td class="snippet has-text-grey has-text-weight-semibold" [innerHTML]="page.snippet"></td>
    </tr>
  </tbody>
</table>
